<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CellController.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CellController.My.MySettings.DBxConnectionString"
            connectionString="Data Source=172.16.0.102;Initial Catalog=DBx;Persist Security Info=True;User ID=dbxuser"
            providerName="System.Data.SqlClient" />
        <add name="CellController.My.MySettings.ApcsDBConnString" connectionString="Data Source=172.16.0.102;Initial Catalog=APCSDB;Persist Security Info=True;User ID=apcsdbuser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <CellController.My.MySettings>
            <setting name="ProcessName" serializeAs="String">
                <value>DC</value>
            </setting>
            <setting name="MCType" serializeAs="String">
                <value>DR3000III</value>
            </setting>
            <setting name="EquipmentIP" serializeAs="String">
                <value>10.28.41.53</value>
            </setting>
            <setting name="EquipmentNo" serializeAs="String">
                <value>BG-02</value>
            </setting>
            <setting name="SecsConnStr" serializeAs="String">
                <value>Data Source=172.16.0.102;Initial Catalog=DBx;Persist Security Info=True;User ID=dbxuser</value>
            </setting>
            <setting name="SECS_nouse1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SECS_PortNumber" serializeAs="String">
                <value>5040</value>
            </setting>
            <setting name="SECS_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SECS_Nouse2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GEM_DeviceID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GEM_T3_Interval" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="GEM_T5_Interval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GEM_T6_Interval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GEM_T7_Interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GEM_LinkTest_Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="GEM_LinkTest_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TDC_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsProtocol_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsProtocolPort" serializeAs="String">
                <value>5040</value>
            </setting>
            <setting name="UserAuthenOP" serializeAs="String">
                <value>DC-OP</value>
            </setting>
            <setting name="UserAuthenGL" serializeAs="String">
                <value>DC-GL</value>
            </setting>
            <setting name="UserAdminPass" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="S1F13_Setting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MDISizable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MDITableFrmDisable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MDIQRSystem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrmProdTableInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmProdTableIDetail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EventReportEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkingSlipQRLenght" serializeAs="String">
                <value>332</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="WaferMappingUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DCSlip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PersonAuthorization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeaderProcess" serializeAs="String">
                <value>BG-</value>
            </setting>
            <setting name="RecipeNo" serializeAs="String">
                <value>08</value>
            </setting>
        </CellController.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ApcsWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webserv.thematrix.net/apcscontrolsystem/apcswebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="ApcsWebServiceSoap"
                contract="RohmService.ApcsWebServiceSoap" name="ApcsWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
